{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Cria Jogador</title>
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
{% block javascript %}
<script type="text/javascript">
  onload = function () {
    var playersCountField = document.getElementById('players-count');
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "{% url 'checkPlayersCountDatabase' %}", true);
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.status == 200 && xmlhttp.readyState == 4) {
        var resposta = JSON.parse(xmlhttp.responseText);
        playersCountField.value = resposta.playersCount;
      }
    };
    xmlhttp.send(null);
  }
</script>
{% endblock %}

<body>
  {% include 'myapp/links.html' %}
  <h1>Cria um jogador</h1>
  <h6>createPlayer.html</h6>
  <h3 id="players-count">Número de jogadores no sistema: 0</h3>
  <form action="" method="POST">
    {% csrf_token %}
    <table class='formulario'>
      {{ formulario.as_table}}
    </table>
    <button type="submit">Cria jogador</button>
  </form>
</body>

</html>