<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="row" style="justify-content: center">
    <h1>Homepage</h1>
</div>
<div class="row" style="justify-content: center">
    <h2>Bem-vindo: {% firstof user.first_name user.username %}!</h2>
</div>
<div class="row" style="justify-content: center">
    <a href="{% url 'myapp:playersList' %}">
        Lista de jogadores
    </a>
</div>
</body>

</html>